*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Google fonts */


.inter-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
}


/* Shared Style */

.btn{
  background-color:#30B868;
  border-radius: 4px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  padding: 12px 16px;
  border: none;

}

.btn:hover{
  background-color: #4f705d;
}


.h2{
  font-weight: bold;
  font-size: 72px;
}



/* Nav Style */

.nav-section{
  display: flex;
  justify-content: space-between;
  margin: 16px 120px;
  align-items: center;
  
}


.nav-section img{
  width: 139px;
  
}

.nav-section .menu{
  display: flex;
  gap: 32px;
  list-style: none;
  
  align-items: center;
  
  
}

.nav-section .menu a{
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
}


/* Banner Section Style Start Here */

#banner{
 
  background-image: linear-gradient(rgba(0, 25, 4, 0.1)), url('/assets/hero-bg.png');
  
   padding:  120px;
   max-width: 100%;
  
   
   
}

  
  
.banner-content{
  
  text-align: center;
   color: white;
  
   display: grid;
   place-items: center;
   
   
   
}

.banner-content #banner-content-early{
  background-color: #ffffff;
  display: flex;
  border-radius: 100px;
  padding: 8px;
  color: #30B868;
  
 
  
  
  }

  .banner-content #banner-content-early p{
 
  font-size: 16px;
  margin: 8px 12px;
  }

  .banner-content .icon{
    margin: 12px  ;
  
  }


  /* Banner title */

  #banner .banner-title{
    margin-top: 16px;
    
  }

  #banner .banner-title h2 span{
    color: #30B868;
  }


  #banner .banner-details{
    text-align: center;
    width: 71%;
    margin-top: 26px;
    }


  #banner .banner-details p{
    
    font-size: 18px;
    text-align: center;
    margin-top: 16px;
    
    }

  .banner-button{
   display: flex;
    gap: 16px;
    margin-top: 32px;
  }
  

  .banner-button .button2{
    background: transparent;
    color: #ffffff;
    border: 1px solid white;
     border-radius: 4px;
     padding: 16px;
     
    
  }


 .banner-button .button2:hover{
    background: #4f705d;
    color: #ffffff;
    border: 1px solid white;
     border-radius: 4px;
     padding: 16px;
    
  }

  .banner-button .button2 span{
    margin-left: 10px;
    font-size:16px;
   }



   /* Main Section */
   main{
    margin:auto 120px;
    justify-items: center;
    
    
   
  }

  .note-content{
    margin-top: 120px;
  }

  .note-content h2{
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    text-align: center;

  }

 

  .note-content p{
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #627382;
 


  }
    
  /* Note-cart  */
  .note-card{
    margin-top: 44px;
    justify-content: space-between;
    display: flex;
    gap:24px;
   
    
    
    
  }

  .note-card-design{
    background-color: #fbfbfb;
    padding: 24px;
    border-radius: 8px;
    justify-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }

  .note-card-design h2{
    margin-top: 16px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    

  }

  .note-card-design p{
    color: #627382;
    font-size: 16px;
    margin-top: 16px;
    text-align: center;
    
  }


.note-card-design-img{
  background-color: #F95555;
  padding: 15px;
  margin-top: 40px;
  border-radius: 100px;
  width: 60px;
  height: 60px;
}


/* Start Second Brain Section Style */

#second-brain{
  margin-top: 120px;
  display: flex;
  gap: 60px;

}

#second-brain img{
  border-radius: 12px;
}



#second-brain article{
  margin-top: 120px;
  
}

#second-brain article h1{
  font-size: 48px;
  margin-top: 16px;
  color: #001931;
 
}

#second-brain-details{
  color: #627382;
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}


#second-brain article ul {
  margin-top: 40px;
  list-style: none;
  color: #001931;
  font-size: 16px;
  font-weight: 500;
  
  
}


#second-brain article ul li{
  display: flex;
  margin-bottom: 16px;
  gap: 6px;
}





#second-brain-nano-p{
  color: #30b868;
  
  font-size: 16px;
  font-weight: 500;
  
}


#early-access{
  width: 100%;
  margin-top: 120px;
  background-color: #f7f6f2;
  padding: 80px 40px;
  place-items: center;
  border-radius: 12px;
 
  
}

#early-access h2{
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  color: #001931;
}


#early-access p{
  color: #627382;
  margin-top: 16px;
  font-size:16px;
  line-height: 24px;
  text-align: center;

}

#early-access-button{
  margin-top: 24px;
  margin-bottom: 16px;
  text-align: center;
}




