/* Google fonts */


.inter-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
}


/* Shared Style */

.btn{
  background-color:#30B868;
  border-radius: 4px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  padding: 12px 16px;
  border: none;

}

.btn:hover{
  background-color: #28a15a;
}


.h2{
  font-weight: bold;
  font-size: 72px;
}



/* Nav Style */

.nav-section{
  display: flex;
  justify-content: space-between;
  margin: 16px 120px;
  align-items: center;
  
}


.nav-section img{
  width: 139px;
  
}

.nav-section .menu{
  display: flex;
  gap: 32px;
  list-style: none;
  
  align-items: center;
  
  
}

.nav-section .menu a{
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
}


/* Banner Section Style Start Here */

#banner{
 
  background-image: linear-gradient(rgba(0, 25, 4, 0.1)), url('/assets/hero-bg.png');
   padding:  120px;
  
  
 
}

.banner-content{
  
  text-align: center;
   color: white;
  
   display: grid;
   place-items: center;
   
   
}

.banner-content #banner-content-early{
  background-color: #ffffff;
  display: flex;
  border-radius: 100px;
  padding: 8px;
  color: #30B868;
  
  
  }

  .banner-content #banner-content-early p{
 
  font-size: 16px;
  margin: 8px 12px;
  }

  .banner-content .icon{
    margin: 12px auto;
  
  }


  /* Banner title */

  #banner .banner-title{
    margin-top: -16px;
    
  }

  #banner .banner-title h2 span{
    color: #30B868;
  }


  #banner .banner-details{
    text-align: center;
    width: 71%;
    
    
       
  }
  #banner .banner-details p{
 
    font-size: 18px;
    text-align: center;

    
    
    

  }


