/* Google fonts */


.inter-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
}


/* Shared Style */

.btn{
  background-color:#30B868;
  border-radius: 4px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  padding: 12px 16px;
  border: none;

}

.btn:hover{
  background-color: #28a15a;
}

/* Nav Style */

.nav-section{
  display: flex;
  justify-content: space-between;
  margin: 16px 120px;
  align-items: center;
  
}


.nav-section img{
  width: 139px;
  
}

.nav-section .menu{
  display: flex;
  gap: 32px;
  list-style: none;
  
  align-items: center;
  
  
}

.nav-section .menu a{
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
}